PG_PASS={{ vault_authentik_postgresql_password }}
PG_USER=authentik
PG_DB=authentik
AUTHENTIK_SECRET_KEY={{ vault_authentik_secret_key }}
AUTHENTIK_ERROR_REPORTING__ENABLED=true
AUTHENTIK_PORT_HTTP={{ authentik_port_http }}
AUTHENTIK_PORT_HTTPS={{ authentik_port_https }}
