[defaults]
# Self-provisioning: Ansible runs locally on the node
inventory = 127.0.0.1,
connection = local
host_key_checking = false
stdout_callback = yaml
interpreter_python = auto_silent

[privilege_escalation]
become = true
become_method = sudo
become_user = root
